<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interface</title>
</head>
<body>
<p>{{ path }}</p>
{% load staticfiles %}
{% if total_jobs_path %}
    <img src="{% static total_jobs_path %}" />
<br/>
{% endif %}
{% if running_jobs_path %}
    <img src="{% static running_jobs_path %}" />
<br/>
{% endif %}
{% if waiting_jobs_path %}
    <img src="{% static waiting_jobs_path %}" />
<br/>
{% endif %}
{% if staging_jobs_path %}
    <img src="{% static staging_jobs_path %}" />
<br/>
{% endif %}
{% if suspended_jobs_path %}
    <img src="{% static suspended_jobs_path %}" />
<br/>
{% endif %}
